<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>703304227992-bvcv8ukendg4lm2r2k735lln3g30v2vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703304227992-bvcv8ukendg4lm2r2k735lln3g30v2vc</string>
	<key>API_KEY</key>
	<string>AIzaSyAMNM4Yfu1Abo_Jg7gQHiCPbj1FbBjrXFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>703304227992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cryptocoin.Crypier</string>
	<key>PROJECT_ID</key>
	<string>crypier-79082</string>
	<key>STORAGE_BUCKET</key>
	<string>crypier-79082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703304227992:ios:6d3e060eee4087c6</string>
	<key>DATABASE_URL</key>
	<string>https://crypier-79082.firebaseio.com</string>
</dict>
</plist>